<div class="col-sm-12 col-m-12" id="messageArea">
	<% if ( status !== undefined ) { %>
    <div class="alert alert-<%= status.type %>" role="alert"><button type="button" class="close glyphicon glyphicon-remov" data-dismiss="alert" aria-label="Close"></button><strong><%= status.title %></strong> <%= status.msg %></div>
	<% } %>
</div>
