<div class="col-md-4">
	<div class="well">
	  <form role="form" action="/login" method="post" id="loginform" name="login">
			<div class="form-group">
				<label for="school">School:</label>
				<input type="text" class="form-control" id="school" name="school" autocomplete="school">
			</div>
			<div class="form-group">
				<label for="email">Username:</label>
				<input type="text" class="form-control" id="email" name="username" autocomplete="username">
			</div>
			<div class="form-group">
				<label for="pwd">Password:</label>
				<input type="password" class="form-control" id="pwd" name="passwd" autocomplete="password">
			</div>
			Need an account? <a href="/register">Register now.</a><br>
			<button type="submit" class="btn btn-default">Sign in</button>
		</form>
	</div>
</div>
